@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Yeseva+One&display=swap');


/* Yeseva One font  */
.yeseva-one-font {
    font-family: "Yeseva One", serif;
  }
  
  /* Poppins font  */
  .poppins-font {
    font-family: "Poppins", sans-serif;
  }

  /* lobster font  */
  .lobster-font {
    font-family: "Lobster", sans-serif;
  }
  
  /* Manrope font  */
  .manrope-font{
    font-family: "Manrope", sans-serif;
  }


/* FONT SECTION  
___________________________________*/
* {
    margin: 0;
    padding: 0;
}
.title-color {
  color: rgb(255, 173, 90);
}
.primary-description {
  font-size: .9rem;
  font-weight: 400;
  color: rgb(62, 62, 62);
  

}
.primary-btn {
  border-radius: 5px;
  background: rgb(255, 89, 89);  
  padding: 12px;
  width: 30%;
  cursor: pointer;
  border: none;
}








/* Head section  
____________________________________*/
.head-container {
  /* border: 2px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 3.5rem;
}

.head-left-container {
    /* border: 1px solid black; */
    width: 35%;
    display: flex;
    flex-direction: column;
    padding-left: 8rem;
    padding-top: 6rem;
}

.head-left-title {
  /* border: 1px solid black; */
  width: fit-content;
  border-left: 4px solid rgb(255, 89, 89);
  padding-left: .85rem;
  font-size: 3rem;
  font-family: "Yeseva One", serif;

}

.head-left-description {
  margin-top: .9rem;
  margin-bottom: 1.5rem;
}

.head-left-msg {
  margin-top: 1.8rem;
}

.head-img-container {
    /* border: 1px solid green; */
    width: 40%;
    display: flex;
    justify-content: end;
}
.head-img {
    width: 70%;
    height: fit-content;
    margin-right: 8rem;
    margin-top: 3rem;

}
/* Head section end 
________________________________ */




/* My Mission section starts 
________________________________ */

/* .my-mission-section {
  border: 1px solid black;
} */

.my-mission-title {
  /* border: 1px solid green; */
  width: fit-content;
  margin: 0 auto;
  font-size: 2.25rem;
  font-weight: 700;
  margin-bottom: 2.2rem;
}

.mission-card-container {
  /* border: 1px solid blueviolet; */
  width: 85%;
  margin: 0 auto;
  margin-bottom: 4rem;
  display: flex;
  /* gap: 2rem; */
  justify-content: space-around;
}

.card-1 {
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 25%;
  border-radius: 26px;
  background: rgba(79, 157, 166, 0.1);
  gap: 1rem;
  padding: 2rem 0 2rem 1.25rem;
}

.mission-card-img {
  width: 100px;
  /* border: 1px solid black; */
}

.mission-card-title {
  font-size: 1.25rem;
  font-weight: 600;
}
.mission-card-description {
  width: 85%;
  color: rgb(66, 66, 66) ; 
  font-size: 1rem;
  font-weight: 400;

}


.card-2 {
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 25%;
  border-radius: 26px;
  background: rgba(255, 89, 89, 0.1);
  gap: 1rem;
  padding: 2rem 0 2rem 1.25rem;
}
.card-3 {
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 25%;
  border-radius: 26px;
  background: rgb(255, 244, 214);
  gap: 1rem;
  padding: 2rem 0 2rem 1.25rem;
}




/* 
 Dot portion 
 ___________________________ */
.dot-portion {
  display: flex;
  justify-content: end; 
}
.dot-img-1 {
  width: 110px;
  height: fit-content;
  margin-top: -100px;
}
.dot-portion-2 {
  display: flex;
  justify-content: start;
}
.dot-img-2 {
  width: 110px;
  height: fit-content;
  margin-top: -120px;
}








/* 
Develop section 
_______________________ */

.develop-section {
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5rem;
}

.develop-img-container {
  /* border: 1px solid gold; */
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}


.develop-right-container {
  /* border: 1px solid darkred; */
  width: 50%;
}

.develop-title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.develop-description {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 1rem;
  width: 85%;
}


.develop-img {
  width: 300px;
  height: fit-content;
}

.develop-circle {
  height: 200px;
  width: 200px;
  border: 30px solid rgb(255, 173, 90);
  border-radius: 50%;
  position: absolute; 
  margin-right: 170px;
}



/* community section 
__________________________________ */

.community-section {
 /* border: 1px solid black; */
 display: flex;
 justify-content: space-around;
 align-items: center;
 padding-bottom: 7rem;
 padding: 3rem;
}


.community-img-container {
  /* border: 1px solid gold; */
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}
.community-left-container {
  /* border: 1px solid darkred; */
  width: 50%;
}



/* Application section 
____________________________ */


.application-header {
  text-align: center;
  font-size: 2.25rem;
  font-weight: 700;
  padding-top: 2rem;
}

.application-container {
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 3rem;
}

.application-img-container {
  width: 35%;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  /* position: relative; */
  
}
.application-img {
  width: 220px;
  height: fit-content;
  margin: 0 auto;
  /* position:fixed; */
  margin-top: -180px;
  /* margin-left: 0px; */
  /* padding-left: -200px; */
}

.application-right-container {
  width: 40%;

}

.application-right-description {
  /* border: 1px solid black; */
  font-size: 1rem;
  font-weight: 400;
  margin-top: -1rem;
  margin-bottom: 1.85rem;
}






/* problem  */

.sign-1 {
  border-radius: 26px;
  background: rgb(255, 173, 90);
  width: 110px;
  height: 110px;
  margin-top: -425px;
  /* padding-top: -400px; */
  /* padding-left: ; */
}




/* Footer section  
__________________________*/

footer {
  background: black;
  padding: 1.75rem 0;
}

.footer-head {
  font-family: "Lobster", sans-serif;
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 2.2rem;
  font-weight: 400;
}

.title-color-2 {
  color: rgb(255, 89, 89);
}



.footer-description {
  font-family: "Manrope", sans-serif;
  font-size: .85rem;
  font-weight: 400;
  color: rgb(217, 219, 225);
  text-align: center;
  margin-top: 1rem;
}







































































































































































































































































































